<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pengxiang.appproject">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/bluehouse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".function.NoticeActivity"> </activity>
        <activity android:name=".function.CompanyInfoActivity"> </activity>
        <activity android:name=".function.ComplainActivity"> </activity>
        <activity android:name=".function.FAQActivity"> </activity>
        <activity android:name=".function.PolicyActivity"> </activity>
        <activity android:name=".function.RecruitInfoActivity"> </activity>
        <activity android:name=".function.EnterpriseService"> </activity>
        <activity android:name=".function.NewPhone"> </activity>
        <activity android:name=".function.LoginActivity"> </activity>
        <activity android:name=".function.Service"> </activity>
        <activity android:name=".function.PhoneRecord"> </activity>
        <activity android:name=".function.Recruit"> </activity>
        <activity android:name=".function.ResourceInfoActivity"> </activity>
        <activity android:name=".function.registerActivity"> </activity>
        <activity android:name=".function.ResourceOrder"> </activity>
        <activity android:name=".function.ServiceInfoActivity"> </activity>

        <activity android:name=".function.ShowNotice"> </activity>
        <activity android:name=".function.ShowCompany"> </activity>
        <activity android:name=".function.ShowRecruit"> </activity>
        <activity android:name=".function.ShowPolicy"> </activity>
        <activity android:name=".function.ShowResource"> </activity>
        <activity android:name=".function.ShowService"> </activity>
        <activity android:name=".function.ShowConnection"> </activity>
        <activity android:name=".function.IntroduceActivity"> </activity>

        <activity android:name=".function.LoginSuccess"> </activity>
        <activity android:name=".function.PropertyActivity"> </activity>
        <activity android:name=".function.toInformActivity"> </activity>
        <activity android:name=".function.toInformPage"> </activity>
        <activity android:name=".function.toContractmanagement"> </activity>
        <activity android:name=".function.toContractmanagementGeneral"> </activity>
        <activity android:name=".function.toMaintenanceservice"> </activity>
        <activity android:name=".function.toContractmanagementRefund"> </activity>
        <activity android:name=".function.toPayment"> </activity>
        <activity android:name=".function.toWaterandelectricity"> </activity>



    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>